body {
  /* text-align: center; */
  font-family: sans-serif;
  /* text-align: center; */
  /* width: 700px; */
  /* background-color: aqua; */
  /* height: 100%; */
}

input{
  /* border-radius: 16px; */
  /* border:blue; */
  padding: 8px 16px;
  width: 50%;
  border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
  /* outline: none; */
}

button{
  width: 100%;
  /* width: auto; */
  font-weight: bold;
  font-size:small;
  color: rgb(2, 2, 2);
  background-color: rgba(245, 245, 244,0);
  /* border-radius: 16px; */
  border: solid;
  padding: 4px 16px;
}

button.addbutton{
  width:70px;
  /* padding: no; */
}

button.incomplete-area{
  width: 50%;
}

button.backbutton {
  width: 100%;
  /* background-color: blueviolet; */
}

button:hover{
  /* background-color: #ff7fff; */
  color: rgb(2, 206, 104);
  cursor: pointer;
}

.main{
  /* width:100%; */
  width: 800px;
  background-color:rgb(250, 247, 242);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;  
}

#navi{
  /* text-align: center; */
  text-align: center;
  float: left;
  width: 19%;
  /* background-color: magenta; */
  height: 100vh;
  border-right-style: solid;
  border-color: rgb(135, 135, 138);
  border-width: 1px;
  /* padding: 2px; */
}

#root{
  float: left;
  width: 79%;
  padding-left: 1%;
  /* background-color: red; */
}

/* .navi-area{
  background-color: #c1ffff;
  width:20%;
  height: 20%;
  margin-left: 20%;
  padding: 2px;
  margin: 8px;
  border-radius: 8px;
} */

.input-area{
  display: flex;
  /* background-color: #c1ffff; */
  width:100%;
  height: 20%;
  /* margin-left: 20%; */
  padding: 2px;
  border-bottom-style: solid;
  /* margin: 8px; */
  /* border-radius: 8px; */
}

.incomplete-area{
  /* background-color: #c6ffe2; */
  /* width:80%; */
  height: 20%;
  /* margin-left: 20%; */
  padding: 2px;
  border-bottom-style: solid;
  /* border-radius: 8px; */
}

.complete-area{
  /* background-color: #ffffe0; */
  /* width:80%; */
  height: 20%;
  /* margin-left: 20%; */
  padding: 2px;
  
  border-bottom-style: solid;
  /* border-radius: 8px; */
}

.title{
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
  color: #666;
}

.list-row{
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 4px;
}

li {
  width: 100%;
  margin-right: 8px;
  margin-left: 8px;
}

.map-area{
  /* background-color: blueviolet; */
  width: auto;
  height: 50vh;
}